.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-items: center;
  align-items: center;
  padding: 92px 24px 92px;
}

.header__menu {
  margin-left: 26px;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 31px;
  justify-content: center;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__link:hover {
  font-weight: bold;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 136px;
}

.address {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  width: 240px;
  line-height: 135%;
  text-underline-offset: 3px;
  justify-self: start;
}

.header__address {
  margin-right: 26px;
  justify-self: end;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: 125% 100%;
  background-position: -140px;
  position: relative;
  z-index: 0;
}

.cover__title {
  padding: 165px 50px 0;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: #fff;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 13px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 5px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 127px 10px 49px 40px;
}

.cover__description-text {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.3;
  text-transform: uppercase;
  word-spacing: 17px;
  color: #fff;
}

.bet-button {
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 30px 11px 30px;
  text-wrap: nowrap;
  border-color: #fff;
}

.bet-button:hover {
  background-color: #000;
  border-color: #000;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
  inset: 0;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 118%;
  text-transform: uppercase;
  color: #000;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 27px 0 30px;
}

.lots__card-list-item {
  list-style: none;
  flex-grow: 1;
  min-height: 563px;
  width: 334px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  position: relative;
  z-index: 0;
  background-size: 160% 100%;
  background-position: -100px;
}

.card .overlay:hover {
  background-color: rgb(0, 0, 0, 0);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__look-more-link {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  text-decoration: underline;
  color: #000;
  margin-left: 40px;
  text-underline-offset: 3px;
}

.lots__look-more-link:hover {
  font-weight: bold;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: start;
  gap: 25px;
  padding: 34px 24px 180px;
}

.about__column {
  justify-self: center;
  align-self: start;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000;
  margin-top: 100px;
  margin-bottom: 98px;
}

.about__text {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 23px;
}

.about__text-last-paragraph {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0 50px 88px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link:hover {
  font-weight: bold;
}

.footer__social-list {
  justify-self: end;
}

.footer__social-list-item {
  list-style: none;
  display: inline-block;
  margin-left: 44px;
}

.footer__social-link {
  display: block;
  height: 48px;
}

.footer__social-icon {
  height: 100%;
  position: relative;
  z-index: 0;
}

.footer__social-link:hover {
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 50%;
}